<h2>Your consoledated peport for <%= show_month(@month)%></h2>
<%= "No reports found" if @records.blank? %>

<% @days.each do |day| %>

<h4><%= show_date(day, @month) %></h4>

    <!-- self development -->
<h3>Self development:</h3>
<table>
  <tr><td>PROJECT NAME</td><td>ACTIVITY</td><td>TIME</td></tr>
   <% alls = current_user.records.this_day(@month, day).selfd.each do |record| %>
   <tr><td><%= record.project.name %></td><td><%= record.description %></td><td><%= hours(record.spend_time) %></td></tr>
   <% end %>
   <tr><td></td><td></td><td>Total: <%= time_sum(alls) %></td></tr>
</table>

        <!-- working -->

<h3>Working time:</h3>
<table>
  <tr><td>PROJECT NAME</td><td>ACTIVITY</td><td>TIME</td></tr>
  <% alls = current_user.records.this_day(@month, day).work.each do |record| %>
  <tr><td><%= record.project.name %></td><td><%= record.description %></td><td><%= hours(record.spend_time) %></td></tr>
  <% end %>
  <tr><td></td><td></td><td>Total: <%= time_sum(alls) %></td></tr>
</table>

<h3>Extra time:</h3>
<table>
  <tr><td>PROJECT NAME</td><td>ACTIVITY</td><td>TIME</td></tr>
  <% alls = current_user.records.this_day(@month, day).extra.each do |record| %>
  <tr><td><%= record.project.name %></td><td><%= record.description %></td><td><%= hours(record.spend_time) %></td></tr>
  <% end %>
  <tr><td></td><td></td><td>Total: <%= time_sum(alls) %></td></tr>
</table>

<h3>Team work:</h3>
  <table>
  <tr><td>PROJECT NAME</td><td>ACTIVITY</td><td>TIME</td></tr>
  <% alls = current_user.records.this_day(@month, day).team.each do |record| %>
  <tr><td><%= record.project.name %></td><td><%= record.description %></td><td><%= hours(record.spend_time) %></td></tr>
  <% end %>
  <tr><td></td><td></td><td>Total: <%= time_sum(alls) %></td></tr>
</table>

    <p>Total day time: <%= time_sum(current_user.records.this_day(@month, day))%></p>
    <hr>


<% end %>
<p>========================================================================================</p>
<h3>Month total working hours: <%= time_sum(current_user.records.this_month(@month)) %></h3>
<p><b>Self deployment: </b><%= time_sum(current_user.records.this_month(@month).selfd) %> |
  <b>Working: </b> <%= time_sum(current_user.records.this_month(@month).work) %> |
  <b>Team work: </b> <%= time_sum(current_user.records.this_month(@month).team) %> |
  <b>Extra: </b> <%= time_sum(current_user.records.this_month(@month).extra) %></p>


